@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>LabelSnap.</h1>
    <h2>Software de diseño e impresión de etiquetas láser y thermal transfer.</h2>
</hgroup>

<article>
    <p>
        En LabelSnap le ofrecemos la atención, software, equipo y material para su sistema de impresión.
    </p>

    <p>
        
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Concacte a LabelSnap</h3>
    <p>
        LabelSnap S.A. de C.V
		Camino de los Bengalies 1004
		Monterrey, Nuevo León
		México
		Tel: (81)-2029-8446
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>