@{
    ViewBag.Title = "LabelSnap";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2></h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<div id="OP">
	<div id="Options">
		<img src="..\Images\Download.png" />
		<p>
			Descargue LabelSnap ahora.
		</p>
	</div>
	<div id="Options2">
		<img src="..\Images\Buy.png" />
		<p>
			Material para impresión.
		</p>
	</div>
</div>

<h3>Aproveche las ventajas que LabelSnap le ofrece:</h3>
<ol class="round">
    <li class="one">
        <h5>Compatibilidad con una amplia variedad de códigos de barra.</h5>
        LabelSnap fue diseñado para uso industrial. Con una librería de alta calidad de códigos de barra puede generar
		códigos de cualquier tamaño y estándar.
    </li>

    <li class="two">
        <h5>Rápida y ligera</h5>
        Instale LabelSnap y póngala en uso en segundos. 
        <a href="http://www.google.com">Descargar</a>
    </li>

    <li class="three">
        <h5>Impresión de alta calidad</h5>
        Fácil y rápido contará usted con un sistema simple de uso diario que le ofrece impresión de alta calidad.
    </li>
</ol>
