@{
    ViewBag.Title = "LabelSnap";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Software de diseño para etiquetas láser con código de barras.</h1>
                <h2></h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h2 id="Presentation">Le presentamos: LabelSnap</h2>
<p> LabelSnap es un software de diseño e impresión de etiquetas con código de barras para uso industrial. Su sencilla e intuitiva interfase es ideal para compañías con diseños simples de etiqueta. Enriquecido con una variedad de funciones y servicios, LabslSnap es su opción confiable y a precio razonable. Pruebe LabelSnap en cuestión de segundos dando click <a href="www.google.com">aquí</a></p>
	<div id="Options">
		<a href="www.google.com"><img src="..\Images\Picture2.png" /></a>
		<p>
			Descargue el software de diseño e impresión LabelSnap ahora.
		</p>
	</div>
	<div id="Options2">
		<a href="www.google.com"><img src="..\Images\Picture1.png" /></a>
			<p>
			Compre material para impresión.
		</p>
	</div>
<img id="Divisor" src="../images/Picture3.png"/>
<h3>Aproveche las ventajas que LabelSnap le ofrece:</h3>
<ol class="round">
    <li class="one">
        <h5>Compatibilidad con una amplia variedad de códigos de barra.</h5>
        LabelSnap fue diseñado para uso industrial. Con una librería de alta calidad de códigos de barra puede generar
		códigos de cualquier tamaño y estándar.
    </li>

    <li class="two">
        <h5>Rápida y ligera</h5>
        Instale LabelSnap y póngala en uso en segundos. 
        <a href="http://www.google.com">Descargar</a>
    </li>

    <li class="three">
        <h5>Impresión de alta calidad</h5>
        Fácil y rápido contará usted con un sistema simple de uso diario que le ofrece impresión de alta calidad.
    </li>
</ol>
<img id="Divisor" src="../images/Picture3.png" />
<div id="Feature1">
	<img src="../Images/Feature1.png"
</div>
